* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
}

body {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato" sans-serif;
}

.container {
    background-color: white;
    width: 500px;
    height: auto;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
}

.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #06283d;
    position: relative;
}

.search-box input {
    color: #06283d;
    width: 80%;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 20px;
    color: #06283d;
    font-weight: 400;
    text-transform: capitalize;
}

.search-box button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;
    color: #06283d;
}

.weather {
    margin-top: 30px;
    text-align: center;
}
.weather h1 {
    font-size: 80px;
    font-weight: 700;
}

.weather h2 {
    font-size: 55px;
    font-weight: 500;
    margin-top: 20px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details p {
    font-size: 28px;
}